<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.zzimcar.dao.MemberDao">

  <select id="login" parameterType="MemberLoginReqDto" resultType="MemberDataResDto">
    select
    m.id, m.department_pid, m.name, m.password
    from
    workspace.member m
    where
    m.id = #{id}
  </select>

  <insert id="create" parameterType="MemberReqDto">
    INSERT workspace.testmember (
    id, department_pid, name, role, password
    ) VALUES (
    #{id}, #{departmentPid}, #{name}, #{role}, #{password}
    )
  </insert>

  <select id="getPassword" parameterType="String" resultType="String">
    select
      password
    from
      workspace.member tm
    where
      tm.id = #{id}
  </select>

  <select id="getCountById" resultType="int">
    SELECT
      COUNT(*)
    FROM
      workspace.member
    WHERE
      id = #{id}
  </select>


</mapper>