<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.zzimcar.dao.MemberDao">
  <select id="login" parameterType="MemberReqDto" resultType="MemberDto">
    select
      m.pid, m.name, m.department_pid, m.role
    from
      workspace.member m
    where
      m.name = #{name} and m.pw = #{pw}
  </select>

</mapper>