<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.zzimcar.dao.MemberDao">

  <select id="login" parameterType="MemberLoginReqDto" resultType="MemberDataResDto">
    select
    m.id, m.department_pid, m.name, m.role, m.password
    from
    workspace.testmember m
    where
    m.id = #{id}
  </select>

  <insert id="create" parameterType="MemberReqDto">
    INSERT workspace.testmember (
    id, department_pid, name, role, password
    ) VALUES (
    #{id}, #{departmentPid}, #{name}, #{role}, #{password}
    )
  </insert>

  <select id="findById" parameterType="String" resultType="Memberr">
    select
      m.id, m.department_pid, m.password, m.name, m.role
    from
      workspace.member m
    where
      m.id = #{id}
  </select>

  <select id="countByPid" parameterType="int" resultType="int">
    select
    count(*)
    from
    workspace.member m
    where
    m.pid = #{pid}
  </select>

  <insert id="testjoinmember" parameterType="TestMember">
    INSERT workspace.testmember (
        department_pid, id, name, role, pw
    ) VALUES (
        #{departmentPid}, #{id}, #{name}, #{role}, #{pw}
    )
  </insert>

  <select id="getPassword" parameterType="String" resultType="String">
    select
      password
    from
      workspace.testmember tm
    where
      tm.id = #{id}
  </select>

  <select id="testlogin" parameterType="TestLoginMember" resultType="TestMember">
    select
      tm.pid, tm.department_pid, tm.id, tm.name, tm.role, tm.pw
    from
      workspace.testmember tm
    where
      tm.id = #{id}
  </select>

  <select id="getCountById" resultType="int">
    SELECT COUNT(*) FROM workspace.members WHERE id = #{id}
  </select>

</mapper>