<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.zzimcar.dao.TaskDao">

  <insert id="create" parameterType="TaskDto">
    INSERT workspace.task (
    member_pid, type , title, content, state, priority, start_at, due_at
    ) VALUES (
    #{memberPid}, #{type}, #{title}, #{content}, #{state}, #{priority}, #{startAt}, #{dueAt}
    )
  </insert>

  <select id="retrieveOne" parameterType="int" resultType="TaskDto">
    SELECT
    t.pid, t.member_pid, t.type, t.title, t.content, t.state, t.priority, t.start_at, t.due_at, t.created_at
    FROM
    workspace.task t
    WHERE
    t.pid = #{pid}
    AND deleted_at IS NULL
  </select>

  <select id="totalCnt" resultType="int">
    SELECT
    count(*)
    FROM
    workspace.task t
    WHERE
    deleted_at IS NULL
  </select>

  <update id="updateOne" parameterType="taskReqDto">
    UPDATE workspace.task t SET
    t.title = #{title}, t.content = #{content}, t.priority = #{priority}, t.state = #{state}, t.start_at = #{startAt}, t.due_at = #{dueAt}
    WHERE
    t.pid = #{pid} AND deleted_at IS NULL;
  </update>

  <delete id="deleteOne" parameterType="int">
    UPDATE workspace.task t SET
    t.deleted_at = now()
    WHERE
    t.pid = #{pid} AND t.deleted_at IS NULL
  </delete>

  <select id="taskTestRetrieve" resultType="TaskFormDto" parameterType="int">
    <![CDATA[
      select t.pid, t.member_pid, d.name as department, m.name, t.start_at, t.due_at, t.content, t.state, t.title
      from workspace.task t left join workspace.member m on t.member_pid = m.pid
        left join workspace.department d on m.department_pid = d.pid
      where
        (((year(start_at)=#{year} and month(start_at)=#{month})
         or (year(due_at)=#{year} and month(due_at)=#{month}))
         or (
                (concat(year(start_at), LPAD(MONTH(start_at), 2, '0')) <= concat(#{year}, LPAD(#{month}, 2, '0')))
                and (concat(year(due_at), LPAD(MONTH(due_at), 2, '0')) >= concat(#{year}, LPAD(#{month}, 2, '0')))
              ))
        and t.type = '주간'
        and t.deleted_at IS NULL
      order by m.department_pid desc, m.pid asc, FIELD(t.priority, 'HIGHEST', 'HIGH', 'LOW', 'LOWEST') ASC;
    ]]>
  </select>

</mapper>