.hearderWizard .navWizard .tabs {
    list-style-type: none;
    display: flex;
    justify-content: center;
}
.hearderWizard .navWizard .tabs .tab a[data-switcher] {
    display: block;
    padding: 15px 100px;
    border: 1px solid #000;
    text-decoration: none;
    cursor: pointer;
}
.pages .page {
    display: none;
    text-align: left;
    margin: 20px 300px;
}
.pages .page.is-active {
    display: block;
}