<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <div th:fragment="header">

    <div th:with="member=${#authentication.principal.member}">
      <input th:value="${member.id}">
      <input th:value="${member.password}">
      <input th:value="${member.name}">
      <input th:value="${member.departmentPid}">
      <input th:value="${member.roles}">
    </div>

    <input name="writeTask" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#writeTaskModal" data-whatever="@mdo" value="업무등록하기">

    <form method="post" action="/logout">
      <h2>CUSTOM LOGOUT PAGE</h2>
      <input type="hidden" th:name="${_csrf.parameterName}"
             th:value="${_csrf.token}" />
      <button type="submit" class="btn">LogOut</button>
    </form>

  </div>
</html>

