<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="header">
    <div class="jumbotron text-center mb-0">
      <h1>Naturemobility Workspace</h1></br>
      <p>우리는 출발지부터 목적지까지 최적의 이동수단을 조합하고 실시간으로 달라지는 교통상황까지 반영하여 추천하는 플랫폼을 제안하려 합니다.</br>
        더불어 소요되는 금액까지 알려주는데다 예약부터 결제까지 하나의 솔루션으로 해결할 수 있는 플랫폼이니까 더욱 편리하죠.</p></br>
      <div class="hearderWizard">
        <div class="navWizard">
          <ul class="tabs">
            <li class="tab is-active">
              <a data-switcher data-tab="1">부서별업무현황</a>
            </li>
            <li class="tab">
              <a data-switcher data-tab="2">주간별업무현황</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</html>