<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <div th:fragment="department">
    <form action="/write" method="post" onsubmit="return false" name="frm" class="modal-bod">

      <input name="title" type="text" placeholder="title">
      <input name="post" type="text" placeholder="post">
      <input name="writer" type="text" placeholder="writer">
      <div class="modal-footer btn btn-lg">
        <input class="btn-primary" type="submit" value="저장">
        <input class="btn-primary" type="reset" value="초기화">
      </div>

    </form>
  </div>
</html>