<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <link th:href="@{/index.css}" rel="stylesheet"/>
  <title>네이처모빌리티 근무현황표</title>
</head>
<body>

<div th:replace="fragments/header"></div>
<div th:with="member=${#authentication.principal.member}">
  <input th:value="${member.uid}">
</div>
<div class="main-body">
  <form th:action="${'/login'}"></form>
  <div th:replace="/weekly"></div>
  <div th:replace="/writeTask"></div>
  <div th:replace="/viewTask"></div>
  <div th:replace="/insertInput"></div>
  <div th:replace="/joinMember"></div>
</div>

<div th:replace="fragments/footer"></div>
<script th:inline="javascript">
  var uid =[[${#authentication.principal} eq 'anonymousUser'? null :${#authentication.principal.member.uid}]] ;
  console.log(uid);
  var csrf = JSON.parse('[[${_csrf}]]');
  console.log(csrf);

</script>
<script th:inline="javascript" type="text/javascript" th:src="@{/index.js}"></script>

</body>
</html>