<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="insertInput">
  <div class="modal fade" id="insertInput" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">회원 정보 등록</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="insertInputMemberPid">
          <input type="hidden" name="insertInputName">
          <select name="insertInputDepartMentPid" class="form-control" th:value="경영지원">
            <option value="1">경영지원</option>
            <option value="2">개발팀</option>
          </select>
          <select name="insertInputRole" class="form-control" th:value="연구원">
            <option value="대표이사">대표이사</option>
            <option value="이사장">이사장</option>
            <option value="이사">이사</option>
            <option value="CTO">CTO</option>
            <option value="실장">실장</option>
            <option value="팀장">팀장</option>
            <option value="책임">책임</option>
            <option value="매니저">매니저</option>
            <option value="과장">과장</option>
            <option value="매니저">매니저</option>
            <option value="연구원">연구원</option>
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" name="submitRoleDepartmentPid" class="btn btn-primary">저장하기</button>
        </div>
      </div>
    </div>
  </div>
</div>
</html>