<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf3</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

  <h2>LOGIN PAGE</h2>

  <div th:if="${param.error != null}">
    <h2>Invalid Username or password</h2>
    <h2 th:value="${param.error}"></h2>
  </div>

  <div th:text="${session.userPid}">John Doe</div>

  <div th:if="${param.logout != null}">
    <h2>You have been logged out.</h2>
  </div>

  <form method="post">
    <p>
      <label for="username">Username</label>
      <input type="text" id="username" name="id" placeholder="id">
    </p>
    <p>
      <label for="password">Password</label>
      <input type="password" id="password" name="pw" placeholder="비밀번호">
    </p>

    <button type="submit" class="btn">Log in</button>
  </form>

</body>
</html>