<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <div th:fragment="department" class="test">
    <table class="table table-bordered table-hover table-condensed">
      <thead class="text-center thead-light">
      <tr>
        <th scope="col-md-2">2021년 5월</th>
        <th scope="col-md-4">업무</th>
        <th scope="col-md-4">담당자</th>
        <th scope="col-md-15">업무진행 내용</th>
        <th scope="col-md-1">시작일</th>
        <th scope="col-md-1">종료일</th>
        <th scope="col-md-3">진행상황</th>
        <th scope="col-md-2">우선순위</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td scope="row" rowspan="6" class="align-middle text-center">마케팅</td>
        <td>휴대폰 본인인증 유료화 계약</td>
        <td>임진숙/박혜미</td>
        <td>11월 중에 완료 예정</td>
        <td>11.16</td>
        <td></td>
        <td>대기중</td>
        <td>최우선</td>
      </tr>
      <tr>
        <td>넥스트 챌린지</td>
        <td>임진숙</td>
        <td>사업비 변경 부분 진행 필요(해외 결제 부분)</td>
        <td>11.16</td>
        <td></td>
        <td>대기중</td>
        <td>우선</td>
      </tr>
      <tr>
        <td>무인배반 지원사업</td>
        <td>임진숙</td>
        <td>키오스크 견적서, 계약서 등 재 작성 필요</td>
        <td></td>
        <td>11.16</td>
        <td>대기중</td>
        <td>최우선</td>
      </tr>
      <tr>
        <td>휴대폰 본인인증 유료화 계약</td>
        <td>임진숙</td>
        <td>11월 중에 완료 예정</td>
        <td></td>
        <td></td>
        <td>대기중</td>
        <td>최우선</td>
      </tr>
      <tr>
        <td>글로벌IP지원사업</td>
        <td>임진숙</td>
        <td>사업은 완료함 / 연차 평가를 위한 가산점 부분 진행 중 / 경영인증(이승환) / 특허 교육(임진숙)</td>
        <td>11.16</td>
        <td></td>
        <td>대기중</td>
        <td>우선</td>
      </tr>
      <tr>
        <td>스마트 중소기업 지원사업</td>
        <td>임진숙</td>
        <td>비용 집행 및 중간 점검 서류 작성 필요</td>
        <td>11.16</td>
        <td></td>
        <td>대기중</td>
        <td>최우선</td>
      </tr>
      <tr>
        <td scope="row" rowspan="6" class="align-middle text-center">사업제휴/제주</td>
        <td>휴대폰 본인인증 유료화 계약</td>
        <td>임진숙/박혜미</td>
        <td>11월 중에 완료 예정</td>
        <td>11.16</td>
        <td></td>
        <td>대기중</td>
        <td>최우선</td>
      </tr>
      <tr>
        <td>넥스트 챌린지</td>
        <td>임진숙</td>
        <td>사업비 변경 부분 진행 필요(해외 결제 부분)</td>
        <td>11.16</td>
        <td></td>
        <td>대기중</td>
        <td>우선</td>
      </tr>
      <tr>
        <td>무인배반 지원사업</td>
        <td>임진숙</td>
        <td>키오스크 견적서, 계약서 등 재 작성 필요</td>
        <td></td>
        <td>11.16</td>
        <td>대기중</td>
        <td>최우선</td>
      </tr>
      <tr>
        <td>휴대폰 본인인증 유료화 계약</td>
        <td>임진숙</td>
        <td>11월 중에 완료 예정</td>
        <td></td>
        <td></td>
        <td>대기중</td>
        <td>우선</td>
      </tr>
      <tr>
        <td>글로벌IP지원사업</td>
        <td>임진숙</td>
        <td>사업은 완료함 / 연차 평가를 위한 가산점 부분 진행 중 / 경영인증(이승환) / 특허 교육(임진숙)</td>
        <td>11.16</td>
        <td></td>
        <td>대기중</td>
        <td>최우선</td>
      </tr>
      <tr>
        <td>스마트 중소기업 지원사업</td>
        <td>임진숙</td>
        <td>비용 집행 및 중간 점검 서류 작성 필요</td>
        <td>11.16</td>
        <td></td>
        <td>대기중</td>
        <td>우선</td>
      </tr>
      </tbody>
    </table>
  </div>
</html>
