<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <div th:fragment="viewTask">
    <div class="modal fade" id="viewTaskModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">업무 상세보기</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <div class="modal-body">
              <input type="hidden" name="viewPid">
              <div class="form-group">
                <label class="col-form-label">업무제목</label>
                <input type="text" name="viewTitle" class="form-control">
              </div>
              <div class="form-group">
                <label class="col-form-label">업무내용</label>
                <textarea cols="80" rows="10" type="viewText" name="viewContent" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <label class="col-form-label">업무시작일</label>
                <input type="date" name="viewStartAt" class="form-control">
              </div>
              <div class="form-group">
                <label class="col-form-label">업무종료일</label>
                <input type="date" name="viewDueAt" class="form-control">
              </div>

              <div class="form-group">
                <label class="col-form-label">업무상태</label>
                <select name="viewState" class="form-control">
                  <option value="대기중">대기중</option>
                  <option value="진행중">진행중</option>
                  <option value="지연">지연</option>
                  <option value="완료">완료</option>
                </select>
              </div>
              <div class="form-group">
                <label class="col-form-label">우선순위</label>
                <select name="viewPriority" class="form-control">
                  <option value="HIGHEST">HIGHEST</option>
                  <option value="HIGH">HIGH</option>
                  <option value="LOW">LOW</option>
                  <option value="LOWEST">LOWEST</option>
                </select>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" name="updateTaskPage" class="btn btn-primary">수정하기</button>
              <input name="deleteTask" type="button" class="btn" value="삭제하기">
            </div>
        </div>
      </div>
    </div>
  </div>
</html>