<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <div th:fragment="weekly">
    <table class="table table-bordered table-hover table-condensed">
      <thead class="text-center align-middle thead-light">
        <tr>
          <th scope="col-md-6" colspan="2">2021년 5월</th>
          <th scope="col-md-8" class="align-middle">4주차(5/24 ~ 5/28)</th>
          <th scope="col-md-8" class="align-middle">3주차(5/17 ~ 5/21)</th>
          <th scope="col-md-8" class="align-middle">2주차(5/10 ~ 5/14)</th>
          <th scope="col-md-8" class="align-middle">1주차(5/3 ~ 5/7)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row" rowspan="5" class="align-middle">경영지원</td>
          <td>김영범</td>
          <td>1. IR자료 업데이트
            2. 다이렉트(위탁) 운영 기획안</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)
            4. IR자료 업데이트
            5. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
        </tr>
        <tr>
          <td>김영범</td>
          <td>1. IR자료 업데이트
            2. 다이렉트(위탁) 운영 기획안</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)
            4. IR자료 업데이트
            5. 서울렌터카 조합 자료 (금요일)</td>
        </tr>
        <tr>
          <td>김영범</td>
          <td>1. IR자료 업데이트
            2. 다이렉트(위탁) 운영 기획안</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
        </tr>
        <tr>
          <td>김영범</td>
          <td>1. IR자료 업데이트
            2. 다이렉트(위탁) 운영 기획안</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
        </tr>
        <tr>
          <td>김영범</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)
            4. IR자료 업데이트
            5. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
        </tr>
        <tr>
          <td scope="row" rowspan="5" class="align-middle">개발팀</td>
          <td>홍길동</td>
          <td>1. IR자료 업데이트
            2. 다이렉트(위탁) 운영 기획안</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)
            4. IR자료 업데이트
            5. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
        </tr>
        <tr>
          <td>홍길동</td>
          <td>1. IR자료 업데이트
            2. 다이렉트(위탁) 운영 기획안</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)
            4. IR자료 업데이트
            5. 서울렌터카 조합 자료 (금요일)</td>
        </tr>
        <tr>
          <td>홍길동</td>
          <td>1. IR자료 업데이트
            2. 다이렉트(위탁) 운영 기획안</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
        </tr>
        <tr>
          <td>홍길동</td>
          <td>1. IR자료 업데이트
            2. 다이렉트(위탁) 운영 기획안</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
        </tr>
        <tr>
          <td>홍길동</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)
            4. IR자료 업데이트
            5. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
          <td>1. SW고성장 멘토링 킥오프 미팅
            -. 5월 17일 줌으로 진행
            2. IR자료 업데이트
            3. 서울렌터카 조합 자료 (금요일)</td>
        </tr>
      </tbody>
    </table>
  </div>

</html>