<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <div th:fragment="weekly">
    <table class="table table-bordered table-hover table-condensed">
      <thead class="text-center align-middle thead-light">
        <tr id="weekly">
          <th colspan="2" style="min-width: 250px" class="align-middle">
            <span class="jump_month_minus" style="cursor: pointer"> << </span>
            <input type="date" id="focus_date" onchange="changeDate()">
            <span class="jump_month_plus" style="cursor: pointer"> >> </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr id="num0">
          <td scope="row" rowspan="7" class="align-middle text-center">경영지원</td>
          <td class="align-middle text-center">김영범</td>

        </tr>
        <tr id="num1">
          <td class="align-middle text-center">유승민</td>

        </tr>
        <tr id="num2">
          <td class="align-middle text-center">한훈규</td>

        </tr>
        <tr id="num3">
          <td class="align-middle text-center">임진숙</td>

        </tr>
        <tr id="num4">
          <td class="align-middle text-center">김지은</td>

        </tr>
        <tr id="num5">
          <td class="align-middle text-center">이주연</td>

        </tr>
        <tr id="num6">
          <td class="align-middle text-center">이민경</td>

        </tr>
        <tr id="num7">
          <td scope="row" rowspan="9" class="align-middle text-center">개발팀</td>
          <td class="align-middle text-center">이욱세</td>

        </tr>
        <tr id="num8">
          <td class="align-middle text-center">박혜미</td>

        </tr>
        <tr id="num9">
          <td class="align-middle text-center">정병택</td>

        </tr>
        <tr id="num10">
          <td class="align-middle text-center">이정수</td>

        </tr>
        <tr id="num11">
          <td class="align-middle text-center">김청현</td>

        </tr>
        <tr id="num12">
          <td class="align-middle text-center">김인명</td>

        </tr>
        <tr id="num13">
          <td class="align-middle text-center">정현수</td>

        </tr>
        <tr id="num14">
          <td class="align-middle text-center">임형욱</td>

        </tr>
        <tr id="num15">
          <td class="align-middle text-center">윤진형</td>

        </tr>
      </tbody>
    </table>
  </div>

</html>