<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <div th:fragment="weekly">
    <table class="table table-bordered table-condensed">
      <thead class="text-center align-middle thead-light member_name">
        <tr id="weekly">
          <th colspan="2" class="align-middle">
            <span class="jump_month_minus" style="cursor: pointer"> << </span>
            <input type="month" id="focus_date" onchange="changeDate()">
            <span class="jump_month_plus" style="cursor: pointer"> >> </span>
          </th>
        </tr>
      </thead>
      <tbody id="task_body">

      </tbody>
    </table>
  </div>

</html>